html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 40px;
    background-color: blue;
}
.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: blue;
    color: #444;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.a {
    grid-column-start: 2;
    grid-column-end: 3;
}