@font-face {
    font-family: "boek";
    src: url("../../../public/fonts/boek/Boecklins Universe.ttf");
}
:root {
    --Tan: #BD673C;
    --Brown: #30170C;
    --Red_Brown: #330905;
    --Red: #7C1E12;
    --Brick: #6E2413;
    --Slate: #26333C;
    --Yellow: #F3D78F;
    --Purple: #6C3C4C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::before, ::after {
    box-sizing: inherit;
}
body {
    margin: 40px;
    background-color: var(--Yellow);
    font-family: "Boek";
}

.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: [main-1] 150px [main-2] 100px [main-3] 150px [main-4] 100px [main-5] ;
    grid-template-rows: repeat(3,minmax(100px,auto));
    background-color: var(--Yellow);
    color: #444;
  }

  .box {
    background-color: var(--Purple);
    color: #fff;
    /* border: 5px solid black; */
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  .box .box {
    background-color: var(--Tan);
    color: #444;
  }

  .a {
    grid-column: main-1 / main-3;
    border: 5px solid black;
  }

  .b {
    grid-column: main-4 ;
    border: 5px solid black;
  }

  .c {
    grid-column: main-1;
    grid-row: 2 / 4;
    border: 5px solid black;
  }

  .d{
    border: 5px solid black;
    gap: 10px;
    grid-column: main-2 / main-5;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
  }

  .e {
    grid-row: 1 / 3;
    grid-column: main-2 ;
    background-color: black;
    outline: 5px solid black;
  }

  .f {
    grid-row: 1;
    grid-column: main-3 / main-5;
    border-bottom: 2.5px solid black;
  }

  .g {
    grid-row: 2;
    grid-column: main-4;
    border-top: 2.5px solid black;
  }