html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 40px;
    background-color: #0000ff;
}
.box {
    background-color: #ffff00;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
.box:nth-child(even) {
    background-color: #f00000;
    color: #000;
}
.wrapper {
    width: 600px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 100px);
}
p {
    color: white;
}











